.modal {
    height: 496px;
}

.textfield {
    border: 1px solid #E93E3E;
    margin-bottom: 12px;
}

.invalid-data {
    /* Неверный логин */

    width: 352px;
    height: 16px;

    /* Body / 12px regular */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.25px;

    /* System / Danger 400 */

    margin-top: 1px;
    margin-left: -23px;

    border: 0;
    outline: none;
    color: #E93E3E;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.invalid-data::placeholder {
    color: #E93E3E;
}