@import './variables.css';

* {
    font-family: var(--roboto-font);
    font-style: normal;
    font-weight: 400;
    color: #373745;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    background: rgba(246, 246, 246, 1);
}

header {
    width: 100%;
    height: 64px;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0 0 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
  
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.nav-panel {
    /* Auto layout */

    display: flex;
    align-items: center;
    gap: 16px;

    height: 32px;
}

.nav-panel div {
    padding: 4px 12px;


    /* Body / 16px medium */

    font-family: var(--roboto-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    /* identical to box height, or 150% */

    /* Gray / 700 */

    color: #373745;
}

.nav-panel div {
    padding: 4px 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #373745;
    cursor: pointer;
}

.nav-panel .active {
    padding: 4px 12px;
    background: var(--x-color);;
    border-radius: 200px;
    color: white;
}

.rating {
    padding: 100px;
    display: inline-block;
    padding: 32px;
    border-radius: 40px;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    z-index: -1;
    overflow: auto;
    position: absolute;
    width: 1026px;
    left: calc(50% - 1026px/2);
    top: 150%;
}

span {
    font-weight: 700;
    font-size: 24px;
}

table {
    width: 100%;
    margin-top: 16px;
    border-collapse: collapse;
}

th, td {
    padding-top: 12px;
    padding-left: 16px;
    padding-bottom: 12px;
    border-bottom: 1px solid #EEEFF5;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
}
  
th {
    font-weight: 500;
    text-align: left;
}

td:nth-child(1), th:nth-child(1) {
    width: 440px;
}
  
td:nth-child(2), th:nth-child(2) {
    width: 108px;
}
  
td:nth-child(3) {
    width: 108px;
    color: #69B849;;
}
  
td:nth-child(4) {
    width: 108px;
    color: #E93E3E;
}
  
td:nth-child(5), th:nth-child(5) {
    width: 134px;
}
